@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #0D0D0D;
    --primary-color-darker: #313A40;
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

h1 {
    color: whitesmoke;
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: black;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: left;
}

p {
    color: whitesmoke;
}

.introducao {
    display: block;
    margin: 40px auto;
    background-color: white;
    text-align: center;
    width: 80vw;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.txtintroducao {
    color: black;
    text-align: justify;
    margin: 20px 0;
}

img {
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #313A40;
    position: relative;
    bottom: 0;
    width: 100vw;
    padding: 10px 0;
}

.divfooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.divfooter > img {
    width: 30px;
    height: 30px;
}

.divfooter > div {
    position: absolute;
    right: 50px;
    display: flex;
    gap: 10px;
}

.divfooter > div > button {
    background: var(--primary-color);
    border: none;
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

.divfooter > div > button:hover {
    background: var(--primary-color-darker);
}

.divfooter > div > button a {
    text-decoration: none;
    color: white;
}

.containerperfil {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.imgperfil {
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
}

.perfil {
    border: white 1px solid;
    margin: 10px;
    text-align: center;
}
